body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #dee4ea;
}

.box {
	box-shadow: 0px 1px 3px 0.5px #9ea39f; 
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	margin: 0px 0px 20px 0px;	
}

#boxPostForm{
	margin-left: 20px;
	margin-top: 80px;
}

#groupName {
	text-align: center;
	margin-top: 80px;
	margin-right: 20px;
	margin-left: 20px;		
}

#boxPost {
	margin-left: 20px;	
}

#error {
	font-size: 0.75em;
}


#groupButton {
	box-shadow: 0px 1px 2px 1px #9ea39f;
	padding-right: 40px;
	padding-left: 40px;
}

.navbar {
	box-shadow: 0px 1px 1px 0px #9ea39f;	
	/*background-color: #3f80ea;*/
	background-color: #112951;
	min-width: 900px;
	max-height: 55px;
}

.btn {
	background-color: #3f80ea;
}

/* profile pictures */
img {
	border-radius: 50%;
}

#postText {
	text-indent: 2px;	
}

#commentText {
	margin-bottom: 0px;	
	font-size: 0.80em;
	text-indent: 2px;
}

#commentBox {
	padding-bottom: 5px;
	padding-top: 5px; 

}

#welcome {
	margin-top: 60px;
}

textArea{
	width: 100%;
	height: 100%;
	margin-bottom: 10px
}

#author {
	color: #3f80ea;
	font-weight: 710;
}

#navText, #navbarDropdown {
	color: white;
}

#navbarDropdownBody {
	color: #3f80ea;
	text-align: center;
}

#members {
	font-size: 90%;
}

#delete {
	vertical-align: top;
	font-size: 80%;
	text-align: right;
	width: 90%;	/* Attempt to right justify 'delete' */
}


/* profile picture */
table {
	table-layout: fixed;
}

.pTableCell1 {
	min-width: 30px;
}

.cTableCell1 {
	min-width: 20px;
}

/* username and date */
.pTableCell2 {
	min-width: 90px;
}

.cTableCell2  {
	min-width: 90px;
}

#postInfo {
	font-size: 0.8em;
	color: #AAA5A5;
}

#commentInfo {
	font-size: 0.70em;
	color: #AAA5A5;
}

/* Login, group, and signup forms */
.loginField, .groupField, .signUpField {
	display: block;
	margin-top: 10px;
}

#loginPage, #groupFormPage {
	margin-top: 80px;
}

#loginPage {
	margin-top: 0px;
	padding-top: 200px;
	background-image: url('city_background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}

/*#loginContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	box-shadow: 0px 1px 3px 0.5px #9ea39f; 
}*/

div h2 { /* applies to form titles */	
	text-align: center;
}

#loginForm, #groupForm, #signUpForm {
	width: 300px;	
	margin: auto; /* Center form input fields */
}

#login {
	margin-top: 30px;
}

#instabook {
	text-align: center;
	font-weight: 700;
	font-size: 5em;
}

#signUp {
	margin-top: 10px;
}

#signUpInner {
	color: blue;
	text-decoration: underline;
}

#signUpInner:hover {
	cursor: pointer;
}

#loginSubmit, #groupSubmit, #signUpSubmit {
	margin-top: 10px;
}

#loginSubmit {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}


/* ChatApp */
#chatContainer {
	position: sticky;
	top: 48px; /*probably needs to be the same as navbar height*/
	display: grid;
    height: 94vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 	
        "r r b b b b"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "r r m m m m"
        "n n s s s s";
}

#channels {
	grid-area: r;
	background-color: #4286f4;
	padding-top: 15px;
	padding-left: 5px;
	overflow-y: auto;
}

#channelHeader {
	color: white;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 1.1em;
}

#channelText {
	color: white;
}

#messageHeader {
	/*position: relative;
	right: 10px;
	width: 104%;*/
	grid-area: b;
	text-align: center;
	padding-top: 15px;
	font-size: 1.2em;
	font-weight: 700; 
	background-color: #cfe4f7;
	/*box-shadow: 0px 0.2px 3px #565656;*/
}

#messageList {
	overflow-y: scroll;
	background-color: white;
	/*height: 80%;*/
	grid-area: m;
	padding-left: 10px;		
}

#messageBlock {
	margin-top: 10px;
}

#messageAuthor {
	color: #3f80ea;
	font-weight: 600;
	font-size: 1em;
}

#messageTime {
	color: #AAA5A5;
	font-size: .80em;
}

#messageText {
	color: #474747;
	/*text-indent: 40px;*/
	margin-top: 0px;
	margin-bottom: 0px;
}

#loadOlderMessages {
	color: #a3a3a3;
	text-align: center;
	font-size: .9em;
	margin-bottom: 0px;
	text-decoration: underline;
}

#loadOlderMessages:hover {
	cursor: pointer;
}

#noMoreMessages {
	color: #a3a3a3;
	text-align: center;
	font-size: .9em;
	margin-bottom: 0px;
}

#emptyChat {
	color: #949596;
	text-align: center;
	padding-right: 10px;
	margin-top: 15px;
}

#chatForm {
	grid-area: s;
}

#chatInput {
	width: 100%;
	height: 100%;
	border-style: none;
	background-color: #e6f2ff;
	text-indent: 10px;
}

#chatInput:focus {
	outline-width: 0;
}

#channelButton {
	grid-area: n;
	border: none;
	width: 100%;
	padding: 0px 0px 0px 0px;
	background-color: white;
	color: #949596;
}

#channelButton:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}

#channelForm {
	
}

#channelInput {
	height: 100%;
	width: 100%;
	border-style: none;
}

#channelInput:focus {
	outline-width: 0;
}

#checkbox {
	position: absolute;
	left: 15px;
}





/* Poll */
#optionContainer {
	text-align: center;
}

#deleteOption {
	display: inline-block;
	position: relative;
	bottom: 30px;
	left: 10px;
}

#option {
	width: 90%;
}

#addOption {
	margin-left: 20px;
}

#pollButton {
	margin-left: 10px;
}

#pollErrors {
	text-align: right;
	margin-right: 10px;
	color: red;
}

#postPollOption{
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	border-color: #d6d6d6;
	width: 85%;
	display: inline-block;
}

#voteCount {
	color: #a3a3a3;
	font-size: .8em;
	margin-left: 10px;
}

#postPollOptionCheckbox {

}

#pollNumVoteCheckbox {
	position: absolute;
	left: 15px;
}

#pollInfo {
	color: #a3a3a3;
	font-size: .9em;
	position: relative;
	bottom: 5px;
	margin-bottom: 10px;
}






/* Autosuggest search bar */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
